body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.description {
    width: 40%;
    box-sizing: border-box;
}

.container {
    width: 25%;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

.content, .demo {
    padding: 20px;
}

.fs-18 {
    font-size: 1.125rem;
    color: #333;
    font-weight:bold;
}

.fs-14 {
    font-size: 0.875rem;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.875rem;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}