
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript">
         function Save() {
            var saveUrl = "/SubmitWord/SaveData";
            aceoffixctrl.SaveDataPage = saveUrl;
            aceoffixctrl.WebSave();
            alert("save result:\r\n"+aceoffixctrl.CustomSaveResult);
        }

        function OnAceoffixCtrlInit() {
            aceoffixctrl.AddCustomToolButton("Save", "Save", 1);
        }
    </script>

</head>
<body>
    <form id="form1">
        <div>
            <span style="color: Red; font-size: 14px;">Please enter information such as company name, employee name, and department, then click the save button on the toolbar.</span><br />
            <span style="color: Red; font-size: 14px;">Please enter the company name:</span><input id="companyName" name="companyName"
                                                                                                   type="text" /><br />
        </div>
        <div style="width: auto; height: 900px;">        
            @Html.Raw(ViewBag.aceCtrl)
        </div>
    </form>
</body>
</html>
