
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head runat="server">
	<title></title>
	<script type="text/javascript" src="../aceoffix.js"></script>
	<script type="text/javascript">
		var ids = [];

		function ConvertFiles() {
			var checkboxes = document.getElementsByName('company');

			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].checked) { // If the checkbox is selected
					ids.push(checkboxes[i].value);
				}
			}

			if (0 == ids.length) {
				alert('Please select at least one company');
				return;
			}

			document.getElementById("Button1").disabled = true;
			ConvertFile(ids, 0);
		}

		function ConvertFile(idArr, index) {
			var myObject = {};
			myObject.id = idArr[index];
			var params = new URLSearchParams(myObject);
			var saveFileUrl = "/FileMaker/SaveDoc";
			var openFileUrl = "/FileMaker/FileMaker";
			filemakerctrl.SaveFilePage = `${saveFileUrl}?${params.toString()}`;
			filemakerctrl.CallFileMaker({
				url: `${openFileUrl}?${params.toString()}`,
				success: function () {
					console.log("completed successfully.");
					setProgress1(100);

					index++;
					setProgress2(index, idArr.length);

					if (index < idArr.length) {
						ConvertFile(idArr, index);
					}
				},
				progress: function (pos) {
					console.log("running " + pos + "%");
					setProgress1(pos);
				},
				error: function (msg) {
					document.getElementById("errorMsg").innerHTML = "An error occurred: <br /> " + msg;
					console.log("error occurred: " + msg);
				}
			});
		}

		function setProgress1(percent) {
			var progressBar = document.getElementById("progressBar1");
			progressBar.style.width = percent + '%';
			progressBar.innerText = percent + '%';
		}

		function setProgress2(index, count) {
			var progressBar = document.getElementById("progressBar2");
			progressBar.style.width = Math.round(index / count * 100) + '%';
			progressBar.innerText = index + '/' + count;
		}
	</script>
	<style type="text/css">
		.progressBarContainer {
			width: 100%;
			background-color: #eee;
			border-radius: 5px;
			padding: 3px;
			box-shadow: 2px 2px 3px 3px #ccc inset;
		}

		.progressBar {
			height: 20px;
			width: 0%;
			background-color: #1A73E8;
			border-radius: 5px;
			text-align: center;
			line-height: 20px; /* Center text vertically */
			color: white;
		}

		#progressDiv {
			width: 400px;
			margin: 10px auto;
			text-align: left;
			font-size: 14px;
			border: solid 1px #1A73E8;
			padding: 10px 20px;
			color: #1A73E8;
		}

		#errorMsg {
			color: red;
		}
	</style>
	<style type="text/css">
		/* Style definitions */
		.company-list {
			list-style-type: none;
			padding: 0;
			margin: 0 auto;
			width: 400px;
		}

			.company-list li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
			}

			.company-list label {
				display: block;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.company-list input[type="checkbox"] {
				margin-right: 5px;
			}
	</style>
</head>
<body>
	<div style="text-align: center;">
		<h3>Demonstration: Filling Data into Templates to Batch Generate Word Files</h3>
		<div style="width:600px;margin: 0 auto; font-size:14px;">
			<p style="text-align: left;">
				Demonstration Content:<br />
				&nbsp;&nbsp;&nbsp;&nbsp;This example demonstrates the effect of batch-generating honor certificates. Select the companies for which you want to generate honor certificates, then click the "Batch Generate Word Files" button. This will dynamically fill the names of each company into the honor certificate template "template.doc", generating an honor certificate file for each company.
			</p>
			<p style="text-align: left;">
				Operation Instructions:<br />
				1. Check the names of the companies below;<br />
				2. Click the "Batch Generate Word Files" button;<br />
				3. After generation is complete, you can find the batch-generated Word files in the "FileMaker/doc" directory.<br />
			</p>
		</div>

		<hr />
		<ul class="company-list">
			<li>
				<label>
					1
					<input name="company" value="1" type="checkbox" /> Microsoft (China) Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					2
					<input name="company" value="2" type="checkbox" /> IBM (China) Services Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					3
					<input name="company" value="3" type="checkbox" /> Amazon Trade Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					4
					<input name="company" value="4" type="checkbox" /> Facebook Technology Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					5
					<input name="company" value="5" type="checkbox" /> Google Network Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					6
					<input name="company" value="6" type="checkbox" /> NVIDIA Technology Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					7
					<input name="company" value="7" type="checkbox" /> TSMC Technology Co., Ltd.
				</label>
			</li>
			<li>
				<label>
					8
					<input name="company" value="8" type="checkbox" /> Walmart Inc.
				</label>
			</li>
		</ul>

		<input id="Button1" type="button" value="Batch Generate Word Files" onclick="ConvertFiles()" /><br />

		<div id="progressDiv">
			Single File Progress:
			<div class="progressBarContainer">
				<div id="progressBar1" class="progressBar"></div>
			</div>
			Overall Progress:
			<div class="progressBarContainer">
				<div id="progressBar2" class="progressBar"></div>
			</div>
			<div id="errorMsg"> </div>
		</div>
	</div>

</body>
</html>