
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        function Save() {
            var saveUrl = "/DefinedNameTable/SaveData";
            aceoffixctrl.SaveDataPage = saveUrl;
            aceoffixctrl.WebSave();
            alert(aceoffixctrl.CustomSaveResult);
        }
        function OnAceoffixCtrlInit() {
            aceoffixctrl.Caption = "Assign Values to Defined Cells in Excel Documents";
            aceoffixctrl.AddCustomToolButton("Save", "Save", 1);
        }
    </script>

</head>
<body>
    <div style="width: auto; height: 900px;">
        @Html.Raw(ViewBag.aceCtrl)
    </div>
</body>
</html>
