@{ Layout = null; }

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insert Wartermark with JS</title>
</head>
<body>
    <script type="text/javascript">
        // Event handler for when the  Aceoffix control is initialized.
        function OnAceoffixCtrlInit() {
            aceoffixctrl.CustomToolbar = false;
        }

        function AfterDocumentOpened() {
            aceoffixctrl.word.SetWaterMark("Aceoffix");//Watermark Text
        }
    </script>
    <form id="form1" runat="server">
        <div style="width:auto; height: 900px;">
            @Html.Raw(ViewBag.aceCtrl)
        </div>
    </form>
</body>
</html>
