
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SimpleWord</title>
</head>
<body>


    <script type="text/javascript">
        function SaveDoc() {
            var saveUrl = "/SimpleWord/SaveDoc";
            aceoffixctrl.SaveFilePage = saveUrl;
            aceoffixctrl.WebSave();
        }
        function SaveAs() {
            aceoffixctrl.ShowDialog(3);
        }
        function PrintSet() {
            aceoffixctrl.ShowDialog(5);
        }
        function PrintFile() {
            aceoffixctrl.ShowDialog(4);
        }
        function Close() {
            aceoffixctrl.CloseWindow();
        }
        function IsFullScreen() {
            aceoffixctrl.FullScreen =
                !aceoffixctrl.FullScreen;
        }
        function OnAceoffixCtrlInit() {
            aceoffixctrl.AddCustomToolButton("Save", "SaveDoc()", 1);
            aceoffixctrl.AddCustomToolButton("SaveAs", "SaveAs", 5);
            aceoffixctrl.AddCustomToolButton("PrintSet", "PrintSet", 8);
            aceoffixctrl.AddCustomToolButton("Print", "PrintFile", 6);
            aceoffixctrl.AddCustomToolButton("FullScreen", "IsFullScreen", 4);
            aceoffixctrl.AddCustomToolButton("Close", "Close", 9);
        }
    </script>
    <div style="width:auto;height:900px;">
        @Html.Raw(ViewBag.aceCtrl)
    </div>
    
</body>
</html>
