
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Control the Hiding and Showing of the Title Bar, Menu Bar, Custom Toolbar, and Office Toolbar</title>
    <script type="text/javascript">
        function OnAceoffixCtrlInit() {
            aceoffixctrl.Titlebar = false; // Hide the title bar
            aceoffixctrl.CustomToolbar = false; // Hide the custom toolbar
            aceoffixctrl.OfficeToolbars = false; // Hide the Office toolbar
        }
    </script>
</head>
<body>
    <form id="form1">        
        <div style=" width:100%; height:900px;">
            @Html.Raw(ViewBag.aceCtrl)
        </div>
    </form>
</body>
</html>