
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
         function OnAceoffixCtrlInit() {
            aceoffixctrl.CustomToolbar = false;
        }
    </script>
</head>
<body >
    <div style="width:auto; height:100vh;">
        @Html.Raw(ViewBag.aceCtrl)
    </div>
</body>
</html>