
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Save Word File as HTML</title>
    <script type="text/javascript">

        function Save() {
            aceoffixctrl.SaveFilePage = "/SaveAsHTML/SaveDoc";
            aceoffixctrl.WebSave();
        }

        function saveAsHTML() {
            var saveUrl = "/SaveAsHTML/SaveDoc";
            aceoffixctrl.SaveFilePage = saveUrl;
            aceoffixctrl.WebSaveAsHTML();
            alert("The HTML file has been saved to the server.");
        }

         function OnAceoffixCtrlInit() {
            aceoffixctrl.AddCustomToolButton("Save", "Save", 1);
            aceoffixctrl.AddCustomToolButton("Save as HTML", "saveAsHTML()", 1);
        }

        function openHtml() {
            location.href = "doc/test.htm?r=" + Math.random();
        }

    </script>
</head>
<body>

    <div>After performing the "Save as HTML" operation, you can <a href="javascript:openHtml();">view the HTML file</a> to see the effect.</div>
    <div style=" width:auto; height:900px;">
            @Html.Raw(ViewBag.aceCtrl)
    </div> 
</body>
</html>
